IMPORTING THE FILE

In [7]:
import pandas as pd
df=pd.read_csv(r"C:\Users\arunj\Desktop\VIT AP\FDS LAB\upload_c57a05fe-0da5-470b-adbe-6d0ddab7609c.csv")
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

FINDING THE NULL VALUE

In [9]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

# NORMALIZATION

TYPE 1: SIMPLE FEATURE SCALING

In [12]:
#column mpg
a=df["mpg"]=df["mpg"]/df["mpg"].max()
a

0      0.386266
1      0.321888
2      0.386266
3      0.343348
4      0.364807
         ...
393    0.579399
394    0.944206
395    0.686695
396    0.600858
397    0.665236
Name: mpg, Length: 398, dtype: float64

In [15]:
#column displacement
b=df["displacement"]=df["displacement"]/df["displacement"].max()
b

0      0.386266
1      0.321888
2      0.386266
3      0.343348
4      0.364807
         ...
393    0.579399
394    0.944206
395    0.686695
396    0.600858
397    0.665236
Name: displacement, Length: 398, dtype: float64

In [16]:
#column horsepower
c=df["horsepower"]=df["horsepower"]/df["horsepower"].max()
c

0      0.565217
1      0.717391
2      0.652174
3      0.652174
4      0.608696
         ...
393    0.373913
394    0.226087
395    0.365217
396    0.343478
397    0.356522
Name: horsepower, Length: 398, dtype: float64

In [17]:
#column weight
d=df["weight"]=df["weight"]/df["weight"].max()
d

0      0.681712
1      0.718482
2      0.668482
3      0.667899
4      0.671012
         ...
393    0.542802
394    0.414397
395    0.446498
396    0.510700
397    0.529183
Name: weight, Length: 398, dtype: float64

In [18]:
#column acceleration
e=df["acceleration"]=df["acceleration"]/df["acceleration"].max()
e

0      0.483871
1      0.463710
2      0.443548
3      0.483871
4      0.423387
         ...
393    0.629032
394    0.991935
395    0.467742
396    0.750000
397    0.782258
Name: acceleration, Length: 398, dtype: float64

TYPE 2: MIN-MAX

In [20]:
#COLUMN MPG
f=df["mpg"]=(df["mpg"]-df["mpg"].min())/(df["mpg"].max()-df["mpg"].min())
f

0      0.239362
1      0.159574
2      0.239362
3      0.186170
4      0.212766
         ...
393    0.478723
394    0.930851
395    0.611702
396    0.505319
397    0.585106
Name: mpg, Length: 398, dtype: float64

In [21]:
#COLUMN displacement
g=df["displacement"]=(df["displacement"]-df["displacement"].min())/(df["displacement"].max()-df["displacement"].min())
g

0      0.239362
1      0.159574
2      0.239362
3      0.186170
4      0.212766
         ...
393    0.478723
394    0.930851
395    0.611702
396    0.505319
397    0.585106
Name: displacement, Length: 398, dtype: float64

In [22]:
#COLUMN horsepower
h=df["horsepower"]=(df["horsepower"]-df["horsepower"].min())/(df["horsepower"].max()-df["horsepower"].min())
h

0      0.456522
1      0.646739
2      0.565217
3      0.565217
4      0.510870
         ...
393    0.217391
394    0.032609
395    0.206522
396    0.179348
397    0.195652
Name: horsepower, Length: 398, dtype: float64

In [23]:
#COLUMN weight
i=df["weight"]=(df["weight"]-df["weight"].min())/(df["weight"].max()-df["weight"].min())
i

0      0.536150
1      0.589736
2      0.516870
3      0.516019
4      0.520556
         ...
393    0.333711
394    0.146583
395    0.193365
396    0.286929
397    0.313864
Name: weight, Length: 398, dtype: float64

In [24]:
#COLUMN acceleration
j=df["acceleration"]=(df["acceleration"]-df["acceleration"].min())/(df["acceleration"].max()-df["acceleration"].min())
j

0      0.238095
1      0.208333
2      0.178571
3      0.238095
4      0.148810
         ...
393    0.452381
394    0.988095
395    0.214286
396    0.630952
397    0.678571
Name: acceleration, Length: 398, dtype: float64

TYPE 3: Z-SCORE

In [26]:
#COLUMN MPG
q=df["mpg"]=(df["mpg"]-df["mpg"].mean())/(df["mpg"].std())
q

0     -0.705551
1     -1.089379
2     -0.705551
3     -0.961437
4     -0.833494
         ...
393    0.445936
394    2.620966
395    1.085650
396    0.573879
397    0.957708
Name: mpg, Length: 398, dtype: float64

In [27]:
#COLUMN displacement
r=df["displacement"]=(df["displacement"]-df["displacement"].mean())/(df["displacement"].std())
r

0     -0.705551
1     -1.089379
2     -0.705551
3     -0.961437
4     -0.833494
         ...
393    0.445936
394    2.620966
395    1.085650
396    0.573879
397    0.957708
Name: displacement, Length: 398, dtype: float64

In [28]:
#COLUMN weight
s=df["weight"]=(df["weight"]-df["weight"].mean())/(df["weight"].std())
s

0      0.630077
1      0.853259
2      0.549778
3      0.546236
4      0.565130
         ...
393   -0.213056
394   -0.992422
395   -0.797581
396   -0.407897
397   -0.295716
Name: weight, Length: 398, dtype: float64

In [29]:
#COLUMN horsepower
t=df["horsepower"]=(df["horsepower"]-df["horsepower"].mean())/(df["horsepower"].std())
t

0      0.663285
1      1.572585
2      1.182885
3      1.182885
4      0.923085
         ...
393   -0.479835
394   -1.363154
395   -0.531795
396   -0.661694
397   -0.583754
Name: horsepower, Length: 398, dtype: float64

In [30]:
#COLUMN acceleration
u=df["acceleration"]=(df["acceleration"]-df["acceleration"].mean())/(df["acceleration"].std())
u

0     -1.293870
1     -1.475181
2     -1.656492
3     -1.293870
4     -1.837804
         ...
393    0.011571
394    3.275173
395   -1.438919
396    1.099439
397    1.389537
Name: acceleration, Length: 398, dtype: float64

# BINNING

In [31]:
import pandas as pd
import numpy as np
df=pd.read_csv(r"C:\Users\arunj\Desktop\VIT AP\FDS LAB\upload_c57a05fe-0da5-470b-adbe-6d0ddab7609c.csv")
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [34]:
df["mpg"].min()

9.0

In [35]:
df["mpg"].max()

46.6